/* Common Style */
html, body {
    height:100%;
    min-height:100%;
}
a, a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
.lex-container {
    padding: 0 50px;
    background: black;
}
/* Header */
.lex-header {
    min-height: 100px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.lex-logo-wrap{
    display: flex;
    align-items: center;
}
.lex-logo-img {
    margin-right: 10px;
    height: 40px;
    width: 40px;
}
.lex-logo-text {
    color: wheat;
    font-family: "Roboto Slab ExtraBold";
    font-size: 2em;
    line-height: 2em;
    text-transform: uppercase;
}
.lex-header-nav {
    display: flex;
    align-items: center;
}
.lex-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
}
.lex-nav-item {
    margin: 0 25px;
    font-family: "Montserrat SemiBold";
    font-size: 1.4em;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.lex-nav-item:hover {
    opacity: 0.7;
}
.lex-nav-item a {
    color: whitesmoke;
}

.lex-auth {
    display: flex;
    align-items: center;
}
.lex-head-profile {
    display: inline-block;
    font-family: Roboto;
    outline: none;
}
.lex-content {
    min-height: calc(100vh - 150px);
    background-image: url("../images/839ca099-1e2b-1220-d705-f157a9c6f43b.jpg");
    background-repeat: repeat-y;
}
/* Footer */
.lex-footer{
    min-height: 150px;
    padding: 20px 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.lex-footer-nav{
    display: flex;
    align-items: center;
}
.nav-item-footer{
    margin: 0 25px;
    font-family: "Montserrat SemiBold";
    font-size: 1em;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.nav-item-footer:hover {
    opacity: 1;
}
.nav-item-footer a{
    color: whitesmoke;
}
.text-center{
    text-align:center!important
}
.text-muted {
    --bs-text-opacity:1;
    color: #808b94 !important
}
/* Profile */
.profile-section {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.u-custom-font {
    font-family: Allerta;
}

.u-text-1 {
    text-transform: uppercase;
    font-size: 3.75rem;
    text-align: center;
}

.u-text-2 {
    font-size: 1.25rem;
    text-align: center;
}

.profile-form {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 20px auto;
}

.lex-details {
    margin-right: 10px;
    height: 300px;
}
.lex-profile-image-wrapper {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.lex-profile-image {
    display: block;
    margin: 5px auto;
    max-height: 200px;
}
.lex-image-input {
    display: block;
}
/* Game */
.question-form-wrapper {
    width: 500px;
    height: 500px;
    margin: 10px auto;
}

.lex-question {
    text-align: center;
}

.lex-table-wrapper {
    margin: auto;
    display: flex;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}
/* Homepage*/
.lex-home {
    min-height: calc(100vh - 150px);
    background: url("../images/home-background.jpg")  center center/cover no-repeat;
}
.lex-h-home {
    z-index: 10;
    font-family: Montserrat;
    height: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    width: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 110px;
    letter-spacing: -15px;
    font-weight: 700;
    font-size: 120px;
    text-shadow: #494949 3px 0 15px;
    backdrop-filter: none;
    filter: blur(0px);
    transform-origin: 50% 50%;
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    padding-left: 50px;
    padding-top: 50px;
}
.lex-splitted-lines {
    display: block;
    text-align: left;
    position: relative;
}
.lex-splitted-words {
    position:relative;
    display:inline-block;
}
.lex-char-home {
    position: relative;
    display: inline-block;
    backdrop-filter: none;
    filter: blur(0px);
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    color: #ffffff;
}

/* Quests */
.lex-bulb-image-wrap {
    position:relative;
    width:100%;
    margin:60px auto;
    overflow:hidden;
}
.bulb1{
    background:url(../images/bulb-1.png) no-repeat center center;
    background-size:contain;
    position:absolute;
    width:272px;
    height:412px;
    left:42%;
    top:0%;
    z-index: 3;
    animation: pendulum1 10s infinite cubic-bezier(0.310, 0.440, 0.445, 1.650);
    -webkit-animation: pendulum 10s infinite cubic-bezier(0.310, 0.440, 0.445, 1.650);
    transform-origin:center top;
}

.bulb2{
    background:url(../images/bulb-2.1.png) no-repeat center center;
    background-size:contain;
    position:absolute;
    z-index: 1;
    width:144px;
    height:418px;
    left:36%;
    top:21%;
    z-index: 2;
    animation: pendulum 9s infinite cubic-bezier(0.310, 0.440, 0.445, 1.650);
    -webkit-animation: pendulum 9s infinite cubic-bezier(0.310, 0.440, 0.445, 1.650);
    transform-origin:center top;
}
.bulb3{
    background:url(../images/bulb-3.png) no-repeat center center;
    background-size:contain;
    position:absolute;
    width:72px;
    height:309px;
    left:32%;
    top:266px;
    z-index: 1;
    animation: pendulum 10s infinite cubic-bezier(0.310, 0.440, 0.445, 1.650);
    -webkit-animation: pendulum 10s infinite cubic-bezier(0.310, 0.440, 0.445, 1.650);
    transform-origin:center top;
}

.bulb1:hover{

}
.bulb2:hover{

}
.bulb3:hover{

}
/* Keyframes */
@-webkit-keyframes
pendulum {
    0%, 100% { transform: rotate(2deg); }
    25%, 75% { transform: rotate(-4deg); }
    50% { transform: rotate(4deg); }

}
pendulum1 {
    0%, 100% { transform: rotate(.6deg); }
    25%, 75% { transform: rotate(-1.2deg); }
    50% { transform: rotate(1.2deg); }
}
@keyframes pendulum {
    0%, 100% { transform: rotate(2deg); }
    25%, 75% { transform: rotate(-4deg); }
    50% { transform: rotate(4deg); }

}
pendulum1 {
    0%, 100% { transform: rotate(.6deg); }
    25%, 75% { transform: rotate(-1.2deg); }
    50% { transform: rotate(1.2deg); }

}
.lex-quests-content {
    background:url(../images/bulb_background.jpg) no-repeat center center;
    min-height: calc(100vh - 150px);
    background-size: 100%;
    position:relative;
    overflow:hidden;
}
.lex-album-quests {
    position: absolute;
    top: 0;
}

.lex-card {
    width: 400px;
    min-height: 250px;
    background: #d2d8d8;
    display: flex;
}
.lex-quest-image-wrap {
    width: 300px;
    height: 200px;
}

.lex-card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Modal login*/

input, textarea {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-size: 1rem;
}
input::-ms-clear, textarea::-ms-clear {
    display: none;
}

/* --------------------------------

Main components

-------------------------------- */
.lex-main-nav {
    float: right;
    margin-right: 0%;
    width: 44px;
    height: 100%;
    background: url("../images/cd-icon-menu.svg") no-repeat center center;
    cursor: pointer;
}
.lex-main-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.lex-main-nav ul.is-visible {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
}
.lex-main-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: #292a34;
    border-top: 1px solid #3b3d4b;
    color: #FFF;
}
@media only screen and (min-width: 768px) {
    .lex-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .lex-main-nav ul {
        position: relative;
        width: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .lex-main-nav ul.is-visible {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .lex-main-nav li {
        display: inline-block;
        margin-left: 1em;
        font-size: 1em;
    }
    .lex-main-nav li:nth-last-child(2) {
        margin-left: 2em;
    }
    .lex-main-nav a {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .lex-main-nav a.cd-signin, .lex-main-nav a.cd-signup, .lex-main-nav a.cd-quit  {
        padding: .6em 1em;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 50em;
    }
    .lex-main-nav a.cd-signup, .lex-main-nav a.cd-quit {
        background: #2f889a;
        border: none;
    }
}

/* --------------------------------

xsigin/signup popup

-------------------------------- */
.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 4;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}
.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}
.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}
@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }
    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}
.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
    margin-top: 0;
}
.cd-form .fieldset:last-child {
    margin-bottom: 0;
}
.cd-form label {
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.cd-form label.cd-username {
    background-image: url("../images/cd-icon-username.svg");
}
.cd-form label.cd-email {
    background-image: url("../images/cd-icon-email.svg");
}
.cd-form label.cd-password {
    background-image: url("../images/cd-icon-password.svg");
}
.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}
.cd-form input.full-width {
    width: 100%;
}
.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}
.cd-form input.has-error {
    border: 1px solid #d76666;
}
.cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}
.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}
.cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}
.cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}

.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}

.cd-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form-bottom-message a {
    color: #FFF;
    text-decoration: underline;
}

.cd-close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../images/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}

.is-hide{
    display: none;
}
.bi{
    width:1rem;
    height:1rem;
}

/* Stub */
#world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(#e4e0ba, #f7d9aa);
}